<article class="post">
    <div class="content">
        <p>Username: {{posts.0.user.username}}</p>
        <p>Posts: {{posts.length}}</p>
        <p>Comments: {{comments.length}}</p>
        <a href="/dashboard/editUser">Edit User</a>
    </div>
</article>