<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container">
        <header>
            <h1>
                <a href="/">Tech Blog</a>
            </h1>
            <nav>
                {{!-- Future Development --}}
                {{!-- <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                </ul> --}}
                {{!-- Future Development --}}
                {{#if loggedIn}}
                <ul>
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
                {{else}}
                <ul>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/signup">Sign Up Here</a></li>
                </ul>
                {{/if}}
            </nav>
        </header>
        <main>
            {{{body}}}
        </main>
    </div>
    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>
</html>