<article>
    <a href="/dashboard"> &larr; Back to Dashboard</a>
    <h2>Edit User</h2>
    <form class="edit-user-form">
<div>
        <label for="user-name">User Name:</label>
        <input name="user-name" value="{{user.username}}"/>
</div>
<div>
    <label for="email">Email:</label>
    <input name="email" value="{{user.email}}"/>
</div>
<div>
    <label for="password">Password:</label>
    <input type="password" name="password"/>
</div>
<div>
    <input type="hidden" id="user-id" value="{{user.id}}"/>
</div>
<div>
    User since {{format_date createdAt}}
</div>
<button type="submit">Update User</button>
<button type="button" class="delete">Delete User</button>
</form>
</article>
<script src="/js/editUser.js"></script>