<form class="login">
    <h3>Login</h3>
    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username">
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password">
    </div>
    <button type="submit">Login</button>
</form>
<a href="/signup">Don't have an account? Sign up here.</a>
<script src="/public/js/login.js"></script>
```