/* Global styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Arial", sans-serif;
    color: #333;
    line-height: 1.6;
    background-color: #f1e9e9;
}

a {
    text-decoration: none;
    color: #e29625;
    font-weight: bold;
    transition: color 0.2s;
}

a:hover {
    color: #040404;
}

button {
    background-color: #007bff;
    border: 0;
    padding: 10px 20px;
    color: #96aabf;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #0056b3;
}

/* Form elements */
textarea,
input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 8px;
}

textarea:focus,
input:focus {
    outline: none;
    border: 1px solid #007bff;
}

/* Page layout */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px;
}

header {
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #087be0;
    color: white;
}

header h1 {
    font-size: 1.5rem;
    padding: 8px 16px;
    border: 2px solid #0a0909;
    border-radius: 5px;
    background-color: #095076;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

main {
    padding: 10px;
}

nav {
    display: inline-block;
    text-align: center;
    padding: 14px;
    color: #100f0f;
    font-size: 20px;
    font-weight: bold;
}

.btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: #d35050;
    font-size: 100%;
    font-weight: bold;
    transition: color 0.2s;
    margin-left: 16px;
}

.btn-no-style:hover {
    color: #070707;
}

/* Post styles */
.post {
    margin-bottom: 16px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.post .title {
    font-style: italic;
    font-size: 1.25rem;
    color: #474444;
    background-color: #5999b5;
    color: white;
    padding: 8px;
    border-radius: 5px 5px 0 0;
}

.post .title span {
    font-size: 1rem;
    color: #3c3939;
}

.post .meta {
    font-size: 90%;
    margin-bottom: 8px;
    opacity: 0.6;
}

.edit-link {
    display: block;
    margin-top: -16px;
}

/* Comment styles */
.comment-form {
    margin-bottom: 16px;
}

.comment {
    padding: 8px;
    margin-bottom: 8px;
}

.comment:nth-child(odd) {
    background-color: #f0f5ff;
}

.comment .meta {
    font-size: 90%;
    margin-bottom: 4px;
    opacity: 0.6;
}

/* New post and edit post form styles */
.new-post-form input,
.edit-post-form input,
.new-post-form textarea,
.edit-post-form textarea {
    width: 100%;
}

.new-post-form textarea,
.edit-post-form textarea {
    min-height: 100px;
}

/* Button styles */
.upvote-btn {
    background-color: #228b22;
}

.upvote-btn:hover {
    background-color: #4caf50;
}

.delete-post-btn {
    background-color: #d32f2f;
}

.delete-post-btn:hover {
    background-color: #f44336;
}

/* Row and column layout */
.row {
    display: flex;
}

.column {
    flex: 1;
    padding: 16px;
}