/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background: #fff;
}

a {
    text-decoration: none;
    color: blue;
    transition: color 0.3s;
    font-weight: bold;
}

a:hover {
    color: #000;
}

button {
    cursor: pointer;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    font-size: 1rem;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #000;
}

/* Form Styling */
textarea,
input {
    display: block;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    margin-bottom: 0.5rem;
}

textarea:focus,
input:focus {
    outline: none;
    border-color: #333;
}

/* Layout Styling */
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 2rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    background-color: #ccc;
    color: #fff;
}

header h1 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}

main {
    padding: 1rem 0;
}

nav {
    display: inline-flex;
    text-align: center;
    padding: 14px;
    color: #000;
}

.btn-no-style {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    color: #000;
    cursor: pointer;
}

.btn-no-style:hover {
    color: #333;
}

/* Post Styling */
.post {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
}

.post .title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.post .title span {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 0.5rem;
}

.post .body {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 0.5rem;
}

.post .meta {
    font-size: 0.8rem;
    color: #666;
}

.post .meta span {
    margin-right: 0.5rem;
}

.edit-link {
    margin-right: 0.5rem;
}

/* Comment Styling */
.comment-form {
    margin-bottom: 1rem;
}

.comment-form textarea {
    height: 100px;
}

.comment {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
}

.comment .body {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 0.5rem;
}

.comment .meta {
    font-size: 0.8rem;
    color: #666;
}

.comment .meta span {
    margin-right: 0.5rem;
}

.comment .edit-link {
    margin-right: 0.5rem;
}

/* New and Edit Styling */
.new-post-form input,
.edit-post-form input,
.new-post-form textarea,
.edit-post-form textarea {
    display: block;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    margin-bottom: 0.5rem;
}

.new-post-form textarea,
.edit-post-form textarea {
    height: 200px;
}

/* Button Styling */
.upvote-btn {
    background-color: #228b22;
}

.upvote-btn:hover {
    background-color: #4caf50;
}

.delete-post-btn {
    background-color: #d32f2f;
}

.delete-post-btn:hover {
    background-color: #f44336;
}

/* Row and column layout */
.row {
    display: flex;
}

.column {
    flex: 1;
    padding: 16px;
}